.main {
  height: calc(100vh - var(--topbar-height) - var(--footer-height));
  &--home {
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 32rem;
  }

  &--advanced {
    padding: 3rem 5rem;
    min-height: 47rem;
  }
}
