/*////////////////BASE///////////////*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  color: var(--font-color);
}

:root {
  --btn-back-color: #f7f7f7;
  --btn-color: #616161;
  --input-color: #cfcfcf;
  --font-color: #3c4043;
  --link-color: #2e2e2e;
  --footer-color: #f1f1f1;
  --footer-height: 9rem;
  --topbar-height: 6rem;
}

.u-margin-bot-small {
  margin-bottom: 2.5rem;
}

.u-margin-bot-medium {
  margin-bottom: 4.5rem;
}

.u-margin-top-verysmall {
  margin-top: 1.5rem;
}

.advanced__title-1 {
  font-size: 2rem;
  font-weight: 300;
  color: #d82727;
}
.advanced__title-1::after {
  content: "";
  margin-top: 1.4rem;
  display: block;
  height: 1.4px;
  width: 30vw;
  min-width: 25rem;
  background-color: currentColor;
}
.advanced__title-2 {
  font-weight: 300;
  font-size: 1.8rem;
}
.advanced__title-3 {
  font-weight: 600;
  font-size: 1.4rem;
  color: #505050;
}

/*////////////////COMPONENTS/////////////*/
.btn {
  display: inline-block;
  min-width: 5.4rem;
  height: 3.6rem;
  padding: 0rem 1.1rem;
  font-size: 1.4rem;
  background-color: var(--btn-back-color);
  color: var(--btn-color);
  border: none;
  cursor: pointer;
}
.btn:hover {
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  outline: 1px solid #d8d8d8;
}

.logo {
  width: auto;
  display: inline-block;
}
.logo--big {
  height: 9rem;
}
.logo--small {
  height: 3.5rem;
}
.logo--images {
  position: absolute;
  bottom: 7%;
  left: 55%;
  transform: translateX(50%);
  font-size: 2.4rem;
  color: #ce3838;
}

.search {
  position: relative;
  width: min(60rem, 90vw);
}
.search__bar--input {
  width: 100%;
  padding: 1.2rem 5rem;
  background-color: transparent;
  border-radius: 31px;
  border: 0.7px solid #dddddd;
  font-size: 1.6rem;
}
.search__bar--input:focus, .search__bar--input:hover {
  outline: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.search__icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 1;
}
.search__icons--search {
  left: 3%;
  z-index: -1;
}
.search__icons--mic {
  right: 3%;
  z-index: 1;
  cursor: pointer;
}
.search__icons--mic:hover {
  border: none;
  color: orange;
}

.link, .link:link, .link:visited {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 0.6rem;
}
.link--dark, .link--dark:visited, .link--dark:link {
  color: var(--link-color);
  font-size: 1.25rem;
}
.link--dark:hover {
  text-decoration: underline;
}
.link--shadow-hover:hover {
  border-radius: 30rem;
  background-color: #ebebeb;
}

.user-icon {
  background-color: #8b4e25;
  border-radius: 30rem;
  color: white;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1rem;
  min-width: 3rem;
  min-height: 3rem;
  font-size: 1.7rem;
}

/*////////////////SECTIONS/////////////////*/
.topbar {
  height: var(--topbar-height);
  padding: 0 1.5rem;
}
.topbar__list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.topbar__item {
  list-style: none;
}
.topbar__item--right {
  margin-right: auto;
  margin-bottom: 0.5rem;
}
.topbar__item:not(:last-child):not(.topbar__item--right) {
  margin-right: 1.7rem;
}
.topbar__user {
  width: 3.2rem;
  height: 3.2rem;
}
.topbar__gapps-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.search__btns {
  text-align: center;
  margin-top: 2.7rem;
}
.search__btns > .btn:nth-child(1) {
  margin-right: 1rem;
}

.footer {
  height: var(--footer-height);
  background-color: var(--footer-color);
  padding: 0 1.5rem;
  color: #7e7e7e;
}
.footer__separator {
  height: 1.1px;
  display: block;
  background-color: #c5c5c5;
}
.footer > div {
  height: 50%;
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 1.2rem;
  font-style: italic;
}

.country {
  font-size: 1.4rem;
}

.main {
  height: calc(100vh - var(--topbar-height) - var(--footer-height) - 0.5rem);
}
.main--home {
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 32rem;
}
.main--advanced {
  padding: 3rem 5rem;
  min-height: 47rem;
}

.language {
  margin-top: 2rem;
}
.language__text {
  font-size: 1.1rem;
}

/*////////////////ADVANCED SEARCH///////////////*/
.btn-search {
  display: inline-block;
  padding: 0.9rem 1.3rem;
  background-image: linear-gradient(42deg, #4badc7 0%, #2ab3d1 57%, #06b1d5 100%);
  border: 1px solid #4ca2c4;
  border-radius: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  line-height: 1;
  cursor: pointer;
}
.btn-search:hover {
  background-image: linear-gradient(42deg, #3b93ab 0%, #26aac7 57%, #52aec1 100%);
}
.btn-search:active {
  transform: scale(0.95);
  background-image: linear-gradient(42deg, #3b869b 0%, #1d7f96 57%, #02839c 100%);
}

.advanced-form__input {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  color: var(--font-color);
  border: 1.4px solid var(--input-color);
}
.advanced-form__input:focus {
  outline: none;
  box-shadow: inset 1px 0.1px 1.5px rgba(0, 0, 0, 0.25);
  outline: 1px solid #494949;
}
.advanced-form__label {
  font-size: 1.5rem;
  font-weight: 300;
}
.advanced-form__description {
  font-size: 1.2rem;
  font-style: italic;
}

.advanced-form {
  padding: 0rem 2rem;
  display: grid;
  box-sizing: content-box;
  grid-template-columns: [labelStart] minmax(10rem, max-content) [labelEnd inputStart] minmax(20rem, 0.8fr) [inputEnd descriptionStart] minmax(10rem, max-content) [descriptionEnd];
  align-items: center;
  width: 100%;
  column-gap: 4rem;
  row-gap: 2.5rem;
}
.advanced-form__label--layout {
  grid-column: labelStart/labelEnd;
}
.advanced-form__title3-layout {
  grid-column: descriptionStart/descriptionEnd;
}
.advanced-form__btn--layout {
  grid-column: inputEnd/inputStart;
  justify-self: end;
}

@media (max-width: 63em) {
  .advanced-form {
    grid-template-columns: [labelStart] minmax(10rem, max-content) [labelEnd inputStart] minmax(20rem, 0.8fr) [inputEnd];
  }
  .advanced-form__description, .advanced-form__title3-layout {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
