.advanced-form {
  padding: 0rem 2rem;
  display: grid;
  box-sizing: content-box;
  grid-template-columns:
    [labelStart] minmax(10rem, max-content) [labelEnd inputStart] minmax(
      20rem,
      0.8fr
    )
    [inputEnd descriptionStart] minmax(10rem, max-content)
    [descriptionEnd];
  align-items: center;
  width: 100%;
  column-gap: 4rem;
  row-gap: 2.5rem;

  &__label--layout {
    grid-column: labelStart / labelEnd;
  }

  &__title3-layout {
    grid-column: descriptionStart / descriptionEnd;
  }

  &__btn--layout {
    grid-column: inputEnd / inputStart;
    justify-self: end;
  }
}

@media (max-width: 63em) {
  .advanced-form {
    grid-template-columns:
      [labelStart] minmax(10rem, max-content) [labelEnd inputStart] minmax(
        20rem,
        0.8fr
      )
      [inputEnd];

    &__description,
    &__title3-layout {
      display: none;
    }
  }
}
