.advanced__title {
  &-1 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-color);

    &::after {
      content: "";
      margin-top: 1.4rem;
      display: block;
      height: 1.4px;
      width: 30vw;
      min-width: 25rem;
      background-color: currentColor;
    }
  }

  &-2 {
    font-weight: 300;
    font-size: 1.8rem;
  }

  &-3 {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--color-grey-light-three);
  }
}
