:root {
  --btn-back-color: #f7f7f7;
  --btn-color: #616161;
  --input-color: #cfcfcf;
  --font-color: #3c4043;
  --link-color: #2e2e2e;
  --footer-color: #f1f1f1;

  --footer-height: 9rem;
  --topbar-height: 6rem;
}
