.link {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 0.6rem;
  }

  &--dark {
    &,
    &:visited,
    &:link {
      color: var(--color-grey-dark-two);
      font-size: 1.25rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--shadow-hover {
    &:hover {
      border-radius: 30rem;
      background-color: var(--color-primary-darker-three);
    }
  }
}
