.logo {
  width: auto;
  display: inline-block;
  &--big {
    height: 9rem;
  }

  &--small {
    height: 3.5rem;
  }

  &--images {
    position: absolute;
    bottom: 7%;
    left: 55%;
    transform: translateX(50%);
    font-size: 2.4rem;
    color: var(--secondary-color);
  }
}
