.search {
  position: relative;
  width: min(60rem, 90vw);
  &__bar {
    &--input {
      width: 100%;
      padding: 1.2rem 5rem;
      background-color: transparent;
      border-radius: 31px;
      border: 1.5px solid var(--color-primary-darker-three);
      font-size: 1.6rem;

      &:focus,
      &:hover {
        outline: none;
        box-shadow: 1px 1px 4px rgba(var(--color-black), 0.2);
      }
    }
  }

  &__icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 1;
    &--search {
      left: 3%;
      z-index: -1;
    }
    &--mic {
      right: 3%;
      z-index: 1;
      cursor: pointer;
      &:hover {
        border: none;
        color: orange;
      }
    }
  }
}
